@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
    background-image: url(./assets/images/BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

button{
    cursor: pointer;
}

.logo-stroke {
  filter: drop-shadow(0 0 1px white) drop-shadow(0 0 2px white);
}
